* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main {
    background-color: blue;
    width: 100vw;
    height: 100vh;
}

.parent {
    border: 2px black dotted;
    position: relative;
    left: 25%;
    top: 25%;
    width: 50%;
    height: 50%;
    background-color: gray;
    border-radius: 10px;
    border-style: solid;
}

.box {
    display: inline-block;
    background-color: red;
    border-radius: 10px;
    width: 100px;
    height: 100px;
}

#one {
    position: relative;
    top: 25%;
    left: -10%;

}

#two {
    background-color: green;
}

#three {
    position: relative;
    top: 25%;
    left: 60%;
}

#four {

}